#wpadminbar {
    opacity: 0;
    top: -46px !important;
    transition: top var(--easeOut--neutral), opacity var(--easeOut--neutral);

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 1rem;
        width: 100%;
    }

    &:hover {
        opacity: 1;
        top: 0 !important;
    }

    @media (min-width: 783px) {
        top: -2rem !important;
    }
}
