.e-parent.e-con-boxed {
    --padding-block-start: var(--c-spacing--y-axis);
    --padding-block-end: var(--c-spacing--y-axis);
    --padding-inline-start: var(--c-spacing--x-axis);
    --padding-inline-end: var(--c-spacing--x-axis);
}
