.e-parent.e-con-boxed {
    --padding-block-start: var(--c-spacing);
    --padding-block-end: var(--c-spacing);
    --padding-inline-start: var(--c-spacing);
    --padding-inline-end: var(--c-spacing);
}
