.elementor-kit-6 {
    --stone: var(--e-global-color-primary);
    --nude: var(--e-global-color-secondary);
    --sand: var(--e-global-color-accent);
    --black: var(--e-global-color-text);
    --white: var(--e-global-color-8c9a33e);
    --artic: var(--e-global-color-779bb8c);
}
